.footer {
  background: $darkGreen;
  padding: 8rem 0rem 3rem;
  margin-top: 7.5rem;
  width: 100%;

  .footer-info {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    padding: 2rem;

    & .link-info {
      color: $white;
      font-size: 0.7rem;
      margin: 0.4rem;
    }

    & .link {
      color: $brown;
      font-size: 0.7rem;
      padding: 0 0.4rem;
    }
  }

  & .footer-contacts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 0.7rem;
  }

  & .footer-contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: $white;
    margin-left: 2rem;

    & p {
      margin: 0.5rem 0;
    }
  }

  & .footer-socials {
    display: flex;
    justify-content: center;

    & img {
      width: 30px;
      height: 30px;
      background: rgba(255, 255, 255, 0.356);
      margin: 0.5rem 0.5rem 0.5rem 0;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      padding: 0.3rem;
    }

    & .active {
      background: $white;
    }
  }

  & .credits {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;

    & img {
      width: 100px;
    }

    & p {
      font-size: 0.8rem;
    }
  }

  @media only screen and (max-width: 768px) {
    background: $darkGreen;
    padding: 1rem 0rem 3rem;
    margin-top: 1.5rem;
    width: 100%;

    .footer-info {
      width: 60%;
      display: grid;
      grid-template-columns: repeat(auto-fill, 200px);
      grid-gap: 1rem;
      padding: 2rem;

      & .link-info {
        color: $white;
        font-size: 0.7rem;
        margin: 0.4rem;
      }

      & .link {
        color: $brown;
        font-size: 0.7rem;
        padding: 0 0.4rem;
      }
    }

    & .footer-contacts {
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      font-size: 0.7rem;
    }

    & .footer-contact {
      display: grid;
      grid-template-columns: repeat(auto-fill, 300px);
      color: $white;
      margin-left: 2rem;

      & p {
        margin: 0.5rem 0;
      }
    }

    & .footer-socials {
      display: flex;
      justify-content: start;
      margin-left: 2rem;

      & img {
        width: 30px;
        height: 30px;
        background: rgba(255, 255, 255, 0.356);
        margin: 0.5rem 0.5rem 0.5rem 0;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        padding: 0.3rem;
      }

      & .active {
        background: $white;
      }
    }

    & .credits {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;

      & img {
        width: 80px;
      }

      & p {
        margin: 0.3rem 0 0 0.3rem;
        font-size: 0.6rem;
      }
    }
  }
}
